.content {
  font-size: 1.3rem;
  line-height: 1.7;

  p,
  h2,
  figure,
  blockquote,
  ul,
  ol {
    margin-bottom: 1.5em;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  cite {
    font-style: italic;
  }

  img {
    max-width: 100%;
  }

  figure {
    margin-bottom: 1em;
  }

  ul {
    margin-left: 1em;

    li::before {
      position: absolute;
      left: 0;
      content: "•";
    }

    li {
      padding-left: 1em;
      position: relative;
      margin-bottom: 0.5em;
    }
  }

  ol {
    margin-left: 2em;
    list-style: decimal;

    li {
      margin-bottom: 0.5em;
    }
  }

  blockquote {
    margin-left: 1em;
    border-left: var(--primary) solid 4px;
    padding-left: 1em;
  }
}
